*background: #292f27
*foreground: #ece9da
XTerm*color0: #1e2226
XTerm*color1: #df2132
XTerm*color2: #e0ddcf
XTerm*color3: #d5c0b8
XTerm*color4: #55a8e1
XTerm*color5: #d448ce
XTerm*color6: #67a3bb
XTerm*color7: #312d21
XTerm*color8: #1c1b19
XTerm*color9: #e41d32
XTerm*color10: #e6e5b2
XTerm*color11: #dadbc5
XTerm*color12: #44a1de
XTerm*color13: #d445cb
XTerm*color14: #a2d6dc
XTerm*color15: #4e3b40
